<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Page </title>
</head>
<body>
    <h1>This is new page</h1>
    <h3><%= "apnacollege".toUpperCase() %></h3>
    <h3><%= ['hello','namaste'][0] %></h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam quia nisi modi autem neque minima praesentium repellat impedit voluptatibus, maxime quaerat repudiandae possimus fuga tempore. Sit ipsa, rem beatae reiciendis ut doloribus molestias? Ad ullam a expedita eaque qui? Voluptate voluptas facere eos aperiam officiis mollitia cum nobis beatae perferendis maxime. Repellat soluta maiores excepturi? Dignissimos voluptatem nobis earum. Laudantium error, adipisci voluptatibus hic exercitationem aspernatur? A, nulla itaque odio, sequi accusamus recusandae accusantium ratione vel quia iste ut dolorum? Ipsa molestiae nesciunt eius nobis tempore voluptate voluptates quaerat incidunt, fugit exercitationem maiores eum asperiores explicabo itaque dignissimos eaque consequatur! Neque unde, ad magni dicta placeat recusandae suscipit dolore facere. Iste quasi libero laborum tenetur, sunt magni consequatur distinctio, quaerat sequi eum ullam a doloribus ea magnam natus nobis deleniti quo unde nostrum perspiciatis! Neque consectetur sint repellat voluptates velit debitis asperiores sequi ipsum beatae. Distinctio doloremque, error mollitia inventore in ratione sint, pariatur provident id voluptate alias. Perferendis eum veritatis debitis reiciendis hic? Consectetur minima dolorum nobis magnam ea possimus nostrum, nesciunt libero a aspernatur laborum est blanditiis voluptatum. Fuga perspiciatis incidunt inventore alias iure, harum quibusdam, deserunt, consequuntur enim laudantium vitae quaerat. Praesentium beatae qui veniam ratione libero?</p>
    <button>Submit</button>
</body>
</html>