<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add USer to DB</title>
</head>
<body>
    <h1>Register in the Data Base as user</h1>
    <form action="http://localhost:8080/user" method="post">
        <label for="username">User Name : </label>
        <input type="text" name="username" id="username" placeholder="Enter user name">
        <br><br>
        <label for="email">Email : </label>
        <input type="email" name="email" id="email" placeholder="Enter Email">
        <br><br>
        <label for="pass">Password : </label>
        <input type="password" name="password" id="pass" placeholder="Enter Pass Word">
        <br><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>