<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Name : <%= name %></h1>
    <h2>Likes : <%= like %></h2>
    <h3>Accounts that follow you : </h3>
    <% for (let user of followers){ %>
    <h4><%= user %></h4>
    <% } %>
    <button>Follow</button>
    <button>Message</button>
  </body>
</html>
