<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <p><%=success_msg%></p>
    <p><%=error_msg%></p>
    <h1 class="home-header">Welcome to Home Page</h1>
  </body>
</html>
